<div class="container">
  <div id="faq" class="row">
    <h1>FAQs</h1>
    <h3>General Ticketing Information</h3>
    <ul class="collapsible popout">
      <li>
        <div class="collapsible-header faq-question">
          How do I buy tickets?
        </div>
        <div class="collapsible-body faq-answer">
          Timed-entry tickets for <em>Bill Graham and the Rock & Roll Revolution</em> can be purchased online at <a href="/" >billgrahamtickets.nyhistory.org</a>. Tickets can also be purchased by calling the New-York Historical Society Call Center at (212) 485-9268 or in person at the New-York Historical Society.
        </div>
      </li>
      <li>
        <div class="collapsible-header faq-question">
          How much do tickets cost?
        </div>
        <div class="collapsible-body faq-answer">
          Timed-entry tickets for <em>Bill Graham and the Rock & Roll Revolution</em> are $22 for adults, $17 for seniors (65+), $13 for students, $6 for kids ages 5–13, and free for children ages 0–4. Please note that adults will not be admitted with kids tickets, and students will be required to show student ID. Children under 14 must be accompanied by an adult.
        </div>
      </li>
      <li>
        <div class="collapsible-header faq-question">
          Do I need to book a ticket for my 0–4 year old?
        </div>
        <div class="collapsible-body faq-answer">
          Yes. While children ages 0–4 attend free, they are still required to have tickets.
        </div>
      </li>
      <li>
        <div class="collapsible-header faq-question">
          Is there a booking fee?
        </div>
        <div class="collapsible-body faq-answer">
          There is no extra fee for purchasing an advance ticket. However, if you would like your tickets mailed to you, there is an additional fee of $3 per order.
        </div>
      </li>
      <li>
        <div class="collapsible-header faq-question">
          Can I buy tickets on the day of my visit?
        </div>
        <div class="collapsible-body faq-answer">
          Tickets for <em>Bill Graham and the Rock & Roll Revolution</em> will be sold on the day of your visit only as availability permits. Please note that we anticipate large crowds and recommend that you purchase tickets in advance.
        </div>
      </li>
      <li>
        <div class="collapsible-header faq-question">
          Does my ticket allow me to see the New-York Historical Society’s other exhibitions?
        </div>
        <div class="collapsible-body faq-answer">
          Yes! Our other terrific exhibits are included in your ticket, and you may explore them at your leisure at any time on the day of your scheduled visit.
        </div>
      </li>
      <li>
        <div class="collapsible-header faq-question">
          What are the exhibition’s hours?
        </div>
        <div class="collapsible-body faq-answer">
          The exhibition will be open to the public on Tuesday, Wednesday, Thursday, and Saturday 10 am–6 pm, Friday 10 am–8 pm, and Sunday 11 am–5 pm. The last entry time will begin one hour before closing. Please <a href="https://www.nyhistory.org/visit/calendar">check our calendar</a> for occasional gallery closures and special open days.
        </div>
      </li>
      <li>
        <div class="collapsible-header faq-question">
          I have a voucher or coupon to the New-York Historical Society. Can I use that for my advance ticket?
        </div>
        <div class="collapsible-body faq-answer">
          Advance tickets are only available at full price. If walk-up sales are available on a given day (see above), we will honor vouchers, coupons, and other discounts.
        </div>
      </li>
      <li>
        <div class="collapsible-header faq-question">
          Will you offer pay-as-you-wish hours for the Bill Graham exhibition?
        </div>
        <div class="collapsible-body faq-answer">
          Yes! Tickets for <em>Bill Graham and the Rock & Roll Revolution</em> will be offered during our Pay-as-you-wish Friday Nights from 6–8 pm on a first-come, first-served basis. Advance tickets for those times are not available.
        </div>
      </li>
    </ul>
    <h3>Members</h3>
    <ul class="collapsible popout">
      <li>
        <div class="collapsible-header faq-question">
          I am a New-York Historical Society Member—do I still need to book a ticket in advance?
        </div>
        <div class="collapsible-body faq-answer">
          Members are welcome to visit <em>Bill Graham and the Rock & Roll Revolution</em> at any time without having to book an advance ticket! Please note that you will have to show your Membership card, and there may be lines and wait times to enter the exhibition.
        </div>
      </li>
      <li>
        <div class="collapsible-header faq-question">
          Help! I lost my Membership card. How can I get a new one?
        </div>
        <div class="collapsible-body faq-answer">
          If you cannot locate your card, please call our Membership Department at (212) 485-9279.
        </div>
      </li>
    </ul>
    <h3>The Day of Your Visit</h3>
    <ul class="collapsible popout">
      <li>
        <div class="collapsible-header faq-question">
          What should I bring on the day of my visit?
        </div>
        <div class="collapsible-body faq-answer">
          You will need to bring your ticket, print-at-home ticket, or order confirmation. Members will have to bring their Membership cards.
        </div>
      </li>
      <li>
        <div class="collapsible-header faq-question">
          When should I arrive for my visit?
        </div>
        <div class="collapsible-body faq-answer">
          You may enter the exhibition at any time up to one hour from the start of your assigned entry time. For example, if you purchased a ticket for 10 am, you may enter the exhibition at any time from 10 am–11am. Please note the closing time of the exhibition (see above) before planning your arrival time.
        </div>
      </li>
      <li>
        <div class="collapsible-header faq-question">
          What is the Bill Graham Audio Experience?
        </div>
        <div class="collapsible-body faq-answer">
          Unique to New-York Historical is a special, immersive audio experience (courtesy of Master & Dynamic), providing a musical tour through the exhibition with songs by rock superstars Aerosmith, Blondie, David Bowie, Cream, the Doors, Janis Joplin, Tom Petty, and Neil Young, among others. All visitors to the exhibition will be provided with an audio device and headphones. T-coil compatible neckloops will be available for visitors with t-coil hearing aids.
        </div>
      </li>
      <li>
        <div class="collapsible-header faq-question">
          If I arrive early, can I go into the exhibition early?
        </div>
        <div class="collapsible-body faq-answer">
          Early arrivals will be admitted to the exhibition only as space allows. However, you may explore the rest of the Museum while you wait for your entry time.
        </div>
      </li>
      <li>
        <div class="collapsible-header faq-question">
          If I arrive late, will I still be allowed to enter the exhibition?
        </div>
        <div class="collapsible-body faq-answer">
          If space allows, we will attempt to accommodate latecomers. However, we recommend that you arrive early.
        </div>
      </li>
      <li>
        <div class="collapsible-header faq-question">
          How much time should I allow to see the exhibition?
        </div>
        <div class="collapsible-body faq-answer">
          While this varies greatly from person to person, we recommend you plan on at least 45 minutes to see the exhibition.
        </div>
      </li>
      <li>
        <div class="collapsible-header faq-question">
          Is the exhibition wheelchair accessible?
        </div>
        <div class="collapsible-body faq-answer">
          Yes! The exhibition is fully wheelchair accessible, and ramp entry to the building is available at our 77th St. entrance. We also have a limited number of wheelchairs available free of charge. We strongly recommend that you reserve in advance by calling (212) 485-9200. For a full list of our accessibility offerings, <a href="https://www.nyhistory.org/visit/plan/accessibility">go here</a>.
        </div>
      </li>
      <li>
        <div class="collapsible-header faq-question">
          What do you offer for visitors who have low vision?
        </div>
        <div class="collapsible-body faq-answer">
          Large print text is available at the exhibition entrance on a first-come, first-served basis.
        </div>
      </li>
    </ul>
    <h3>Group Visits</h3>
    <ul class="collapsible popout">
      <li>
        <div class="collapsible-header faq-question">
          Can I book a guided tour to the exhibition?
        </div>
        <div class="collapsible-body faq-answer">
          Yes! Guided tours to the exhibition for adults and college classes are available. Please contact our Group Sales department at (212) 873-3400 ext. 352 to book your tour or email <a href="mailto:group.tours@nyhistory.org">group.tours@nyhistory.org</a> for more information.
        </div>
      </li>
      <li>
        <div class="collapsible-header faq-question">
          Can I bring a school group to the exhibition?
        </div>
        <div class="collapsible-body faq-answer">
          Yes! School group visits are available. You can book a school group visit by calling (212) 485-9293 or visiting our <a href="https://www.nyhistory.org/education/school-groups">School Groups page</a>.
        </div>
      </li>
    </ul>
    <h3>Troubleshooting</h3>
    <ul class="collapsible popout">
      <li>
        <div class="collapsible-header faq-question">
          I am having a problem booking tickets. How can I get help?
        </div>
        <div class="collapsible-body faq-answer">
          If you are having a problem with your online order, please call the New-York Historical Society Call Center at (212) 485-9268.
        </div>
      </li>
      <li>
        <div class="collapsible-header faq-question">
          I booked a ticket but can no longer make it. Can I get a refund?
        </div>
        <div class="collapsible-body faq-answer">
          Tickets are nonrefundable.
        </div>
      </li>
      <li>
        <div class="collapsible-header faq-question">
          I bought my ticket for the wrong date or time. Can I switch?
        </div>
        <div class="collapsible-body faq-answer">
          If you have discovered your error within 48 hours of your order, you may swap times by calling the New-York Historical Society Call Center at (212) 485-9268. After 48 hours, your order cannot be changed.
        </div>
      </li>
    </ul>
  </div>
</div>
